div {
    /* border: solid 3px; */
}



body {
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
}

@font-face {
    font-family: cartoonish;
    src: url(Honey\ Mints.ttf);
  }

h1 {
    font-family: cartoonish;
    text-align: center;
    font-size:100px;
    border: 0px;
    margin: 12px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 60px;
}

.display div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* width: max-content; */
    height: 300px;
    padding: 15px;

}

.player-choice, .computer-choice {
    display: flex;
    flex-direction: column;
}

.player-choice-text, .computer-choice-text {
    margin-top: 15px;
    height:67px
}

.scores {
    display: flex;
    text-align: center;
    
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 8px;
    height: 100px;
    width: 100px;
    font-family: cartoonish;
}

img {
   width:150px;
   height: auto;
}

button img {
    width:70px;
}

.playAgainBtn {
    width: 300px;
    font-size: 80px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cartoonish;
    font-size: 100px;
    padding: 8px;
    width: 50px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cartoonish;
    font-size: 50px;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
}

@media (max-width: 700px) {
    h1{
        font-size: 50px;
    }

    h3 {
        font-size: 45px;
        align-items: baseline;
    }

    h2 {
        font-size: 60px;
        padding: 0px;
        width: 30px;
    }

    img {
        width: 55px;
        height: auto;
    }

    #bot, #you {
        width: 75px;
        height: auto;
    }

    

    .display {
        margin-top:25px
    
    }

    .display div {
        height: 125px;
        padding: 15px;
        padding-left: 0px;
        padding-right: 0px;
        /* justify-content: center; */
    
    }



    .middle {
        width: 100px;
        padding: 0px;
    }

    .scores{
        width: 100px;
        justify-content: center;
    }

    

    .player-choice-text, .computer-choice-text {
        font-size: 30px;
        height: 50px;
        margin-top: 0px;
    }

    .player-data, .computer-data {
        width: 105px;
        /* align-items: center; */
        justify-content: center;
    }

    .player-choice, .computer-choice {

        align-items: baseline;
        justify-content:start;
    }

    .instructions{
        margin-top: 45px;
    }

  }